<div class="panel-body">
    <div>
        <label for='searchText'>Search:</label>
        <input name='searchText' id='searchText' 
               placeholder='-- Enter Search Text--'
               class='text' ng-model='$ctrl.searchText'/>
        
        <button type="submit" class="btn" ng-click="$ctrl.refresh()">Search</button>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in $ctrl.users">
            <td>
                <span ng-hide="$ctrl.enableEdit[user.id]">{{user.name}}</span>
                <input class="text-left" type="text" ng-show="$ctrl.enableEdit[user.id]" ng-model="user.name" name="Name" placeholder="Name" required />
            </td>
            <td class="text-left">
                <span ng-hide="$ctrl.enableEdit[user.id]">{{user.email}}</span>
                <input class="text-left" type="text" ng-show="$ctrl.enableEdit[user.id]" ng-model="user.email" name="Email" placeholder="Email" required />
            </td>
            <td class="text-left">
                <button class="btn" ng-hide="$ctrl.enableEdit[user.id]" ng-click="$ctrl.delete(user.id)">Delete</button>
                <button class="btn" ng-hide="$ctrl.enableEdit[user.id]" ng-click="$ctrl.enableEdit[user.id] = true;">Edit</button>
                <button class="btn" ng-show="$ctrl.enableEdit[user.id]" ng-click="$ctrl.enableEdit[user.id] = false; $ctrl.save(user)">Save</button>
                <button class="btn" ng-show="$ctrl.enableEdit[user.id]" ng-click="$ctrl.enableEdit[user.id] = false">Cancel</button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>
                <input class="text-left" type="text" ng-model="$ctrl.newUser.name" name="Name" placeholder="Name" required/>
            </td>
            <td>
                <input class="text-left" type="text" ng-model="$ctrl.newUser.email" name="Email" placeholder="Email" required/>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn" ng-click="$ctrl.addUser()">Add user</button>
            </td>
            <td></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>